*{box-sizing: border-box;}
img{width: 100%; display: block;}
/* Style for To-Do List */
.maincontainer{
    width: 800px;
    background: aliceblue;
    margin: 5rem auto;
    padding: 2rem;
}
.apptitle{
    text-align: center;   
}
.dolistform, .formgroup{
    margin-top: 2rem;
}
.todo_text{
    background-color: white;
    padding: 0.5;
    width: 60%;
}
.btnaddlist{
    background-color: greenyellow;
    padding: 0.5rem 1rem;
    margin: 2%;
    border: none;
    border-radius: 5px;
}
.btndeleteeach, .btndeleteall{
    width: 40%;
    margin: 2%;
    padding: 0.5rem;
    border: none;
}
.btndeleteeach{
    background-color: orange;
    text-align: center;
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;

}
.btndeleteall{
    background-color: darkorange;
    text-align: center;
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
}
.btndeleteeach:hover, .btndeleteall:hover{
    background-color: darkred;
    color: white;
}
.btnaddlist:hover{
    background-color:green;
    color: white;
}
.dolist_list{
    background-color: white;
    padding: 1rem;
    margin: 0.5rem;
    border: solid gray 1px;
}
.listitem{
    list-style: none;
    padding: 1rem;
    background-color: rgb(230,230,230);
}
.completed{
    color: whitesmoke;
    text-decoration: line-through;
    background-color: rgb(50,50,50);
}
.linkitem{
    text-decoration: none;
    color: rgb(50,50,50);
}
.linkitem:hover{
    text-decoration: underline;
    font-weight: bolder;
}
/* css for post_list*/
*{
    box-sizing: border-box; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page{
    background-color: bisque;
}
.header{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.urls{
    text-align: center;
    align-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.post_item{
    list-style: none;
    border: solid black 1px;
}
.post_title{
    padding: 1em 1em;
    font-size: 17px;
    font-weight: bold;
}
.post_date{
    padding: 1em;
    font-size: 14px;
}
.post_content{
    padding: 1em;
    font-size: 20px;
}
.btn{
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    text-decoration:none
}
.btn:hover{
    background-color: blue;
}
.form{
    padding: 1rem
}

/* css for image */
img{width:100%; display:block;}
.maincontainer{
    width: 90%;
    margin: 5rem auto;
    padding: 2rem;
    border: solid lightblue 1px;
}
.title{
    text-align: center;
}
.upload_img_btn{
    background-color: darkblue;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.upload_img_btn:hover{
    background: crimson;
    font-weight: bolder;
    box-shadow: 0px 0px 3px 1px gray;
}
.albumcontainer{
    margin-top:5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 45%;
    padding: 2rem;
    background-color: lightcyan;
    box-shadow: 1px 1px 5px lightgray;
    margin: 2rem;
}
.card_title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card_img{
    border: ridge 2px darkblue;
    border-radius: 10px;
}

/* post.html */
.posttitle{
    text-align: center;
    color: darkblue;
}
.form_post{
    width: 500px;
    margin: 3rem auto;
    box-shadow: 1px 1px 3px gray;
    border-radius: 10px;
    padding: 2rem;
}
.btnsubmit{
    color: whitesmoke;
    background-color: darkblue;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btnsubmit:hover{
    background: crimson;
    font-weight: bolder;
    box-shadow: 0px 0px 3px 1px gray;
}