<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1 class="header">Student App</h1>
        <nav class="urls">
            <a href="{% url 'todolist' %}">To-Do List</a>
            <a href="{% url 'post_list' %}">Blog Posts</a>
            <a href="{% url 'image_list' %}">View List of Images</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>

